[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
alembic = "*"
pydantic = "*"
sqlalchemy = "*"
black = "*"
python-dotenv = "*"
psycopg2 = "*"
pytest = "*"
httpx = "*"
coverage = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.10"
